.zahlavi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {color: aqua;
font-size: 65px;}

body {background-color: aqua;}


p {background-color: rgb(74, 238, 156);
    border-radius: 25px;
    padding: 10px;
    max-height: fit-content;
    font-size: 25px;

}

.serial {
    
    padding: 10px;
    margin: 80px;
    width: 800px;
}
.cely
        { display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }

img {width: 900px;}


.fotky { display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}

.odkaz {width: 150px;}
.odk {color: #b31d12;
    font-weight: 900;
    font-size: 50px;}
.csfd {text-decoration: none;
color: #b31d12;}


.ODK {height: 60px;
        width: 70px;
}

.imbd {color: black;
text-decoration: none;}


.bomba {width: 500px;}


a {margin-left: 50px;}

.herci {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;}


.herec1 {background-color: rgb(74, 238, 156);
    padding: 10px;
    margin: 25px;
    width: 400px;
    
    border-radius: 15px}


.foto { width: 100%;

}

h2 {text-align: center;}